@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="row">

        <h2 style="
            text-align:center;
            font-weight:bold;
            color: #44007a;">
            Welcome to the Chat Application!
        </h2>
            <div class="col-md-6">
                <p style="text-align:right">
                </p>
            </div>
            <div class="col-md-6">
                <p>
                </p>
            </div>
    </div>
</div>

